@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");

/*================================
mixin
===============================*/
// レイアウト幅
$layout-width-inner: 1440px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*================================
font
===============================*/
$font-en: "Lato", sans-serif;

/*================================
color
===============================*/

$base-color: #2d2d32;
$font-color: #64629d;

/*================================
common - 共通スタイル
===============================*/

@include mq(sp) {
  .is-pc {
    display: none;
  }
}

@include mq(pc) {
  .is-sp {
    display: none;
  }
}

/*================================
base
===============================*/

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: #fff;
  color: $base-color;
}
img {
  width: 100%;
}
a {
  transition: all 0.3s ease 0s;
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 120px 0 120px;

      @include mq(tab) {
    padding: 0 40px;
  }

  @include mq(sp) {
    padding: 0 20px;
  }
}

.inner2 {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 133px 0 120px;

      @include mq(tab) {
    padding: 0 40px;
  }


  @include mq(sp) {
    padding: 0;
  }
}

/*================================
section
===============================*/

/*================================
header
===============================*/
header {
  background: #fff;
  height: 72px;
  width: 100%;
  //位置固定
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  @include mq("tab") {
    height: 60px;
  }

  @include mq("sp") {
    height: 60px;
  }
}
.header-inner {
  display: flex;
  align-items: center;
  height: inherit;
}
.header-title {
  font-family: $font-en;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 5%;
  color: $font-color;
}
.header-nav {
  display: flex;
  align-items: center;

  margin-left: auto;

    @include mq("tab") {
    display: none;
  }

  @include mq("sp") {
    display: none;
  }

  li {
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}
.util-link {
  a {
    display: block;
    background: $font-color;
    color: #fff;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    text-align: center;
  }
}

/*================================
drawer
===============================*/
.drawer-icon {
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 20;
  display: none;
  transition: transform 0.5s ease 0s;

   @include mq("tab") {
    display: block;
  }

  @include mq("sp") {
    display: block;
  }

  &.is-active {
    transform: translateX(0px);
    .drawer-icon-bar1 {
      transform: rotate(-45deg);
      top: 8px;
    }
    .drawer-icon-bar2 {
      display: none;
    }
    .drawer-icon-bar3 {
      transform: rotate(45deg);
      top: 8px;
    }
  }
}
.drawer-icon-bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;

  &::after {
    content: "MENU";
    position: absolute;
    right: 6px;
    top: -15px;
    width: 19px;
    height: 3px;
    font-size: 1px;
  }
}
.drawer-icon-bars.is-active::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 19px;
    height: 3px;
    font-size: 1px;
  }

.drawer-icon-bar1,
.drawer-icon-bar3 {
  position: absolute;
  width: 24px;
  height: 3px;
  background: rgba(100, 98, 157, 1);
  top: 0;
  left: 0;
}
.drawer-icon-bar2 {
  position: absolute;
  width: 12px;
  height: 3px;
  background: rgba(100, 98, 157, 1);
  top: 0;
  right: 0;
}

.drawer-icon-bar1 {
  top: 0;
}
.drawer-icon-bar2 {
  top: 8px;
}
.drawer-icon-bar3 {
  top: 16px;
}

.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 120px;
  left: 80px;
  background: rgba(237, 236, 252, 1);
  z-index: 18;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;

  &.is-active {
    transform: translateX(0);
  }
}
.drawer-content-items {

    @include mq(tab) {
    margin-left:230px;
  }

      @include mq(sp) {
    margin-left:0px;
  }
}
.drawer-content-item {

  
  a {
    display: block;
    color: rgba(45, 45, 50, 1);
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    position: relative;

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      left: -15px;
      transform: rotate(45deg);
      border: 2px solid rgba(100, 98, 157, 1);
      box-sizing: border-box;
    }
  }
}

.drawer-background {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(237, 236, 252, 1);
  z-index: 16;
  display: none;

  &.is-active {
    display: block;
  }
}

.drawer-footer {
  margin-top: 33px;
  display: flex;

  @include mq(sp) {
    flex-direction: column;
    margin: 60px 0 0 -80px;
  }
}
.drawer-link {
  a {
    display: block;
    background: $font-color;
    color: #fff;
    width: 250px;
    height: 54px;
    line-height: 54px;
    border-radius: 27px;
    text-align: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
    font-size: 18px;
    font-weight: 700;

    @include mq(tab) {
      margin: 0 0 0 60px;
    }

    @include mq(sp) {
      width: 300px;
      height: 58px;
      line-height: 58px;
      border-radius: 29px;
      margin: 0 0 0 40px;
    }
  }
}
.drawer-link2 {
  margin-left: 37px;

  @include mq(sp) {
    margin-left: 0;
  }

  a {
    display: block;
    background: #fff;
    color: $font-color;
    width: 250px;
    height: 54px;
    line-height: 54px;
    border-radius: 27px;
    text-align: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
    font-size: 18px;
    font-weight: 700;

    @include mq(sp) {
      margin: 16px 0 0 60px;
    }

    @include mq(sp) {
      width: 300px;
      height: 58px;
      line-height: 58px;
      border-radius: 29px;
      margin: 16px 0 0 40px;
    }
  }
}
/*================================
top
===============================*/
.top {
  margin-top: 72px;
  background: #edecfc;
  height: 580px;

    @include mq(tab) {
    height: 850px;
    margin-top: 60px;
  }

  @include mq(sp) {
    height: 750px;
    margin-top: 60px;
  }
}
.top-inner {
}
.top-wrapper {
  display: flex;

  @include mq(tab) {
    justify-content: center;
  }

  @include mq(sp) {
    flex-direction: column;
  }
}
.top-left {
}
.top-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 86.88px;
  margin-top: 117px;

    @include mq(tab) {
    font-size: 48px;
    margin-top: 80px;
    line-height: 70px;
  }

  @include mq(sp) {
    font-size: 30px;
    margin-top: 60px;
    line-height: 48px;
  }
}
.top-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  margin-top: 24px;

    @include mq(tab) {
    font-size: 16px;
    line-height: 25.6px;
    margin-top: 16px;
  }

  @include mq(sp) {
    font-size: 16px;
    line-height: 25.6px;
    margin-top: 16px;
  }
}
.top-footer {
  margin-top: 33px;
  display: flex;

  @include mq(sp) {
    flex-direction: column;
    margin: 0 auto;
  }
}
.top-util-link-left {
  a {
    display: block;
    background: $font-color;
    color: #fff;
    width: 250px;
    height: 54px;
    line-height: 54px;
    border-radius: 27px;
    text-align: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
    font-size: 18px;
    font-weight: 700;

    @include mq(sp) {
      width: 300px;
      height: 58px;
      line-height: 58px;
      border-radius: 29px;
      margin: 0 auto;
    }
  }
}
.top-util-link-right {
  margin-left: 37px;


  @include mq(sp) {
    margin-left: 0;
  }

  a {
    display: block;
    background: #fff;
    color: $font-color;
    width: 250px;
    height: 54px;
    line-height: 54px;
    border-radius: 27px;
    text-align: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
    font-size: 18px;
    font-weight: 700;

    @include mq(sp) {
      width: 300px;
      height: 58px;
      line-height: 58px;
      border-radius: 29px;
      margin: 16px auto 0;
    }
  }
}
.top-right {
  img {
    display: block;
    width: 515px;
    padding: 33px 0;

       @include mq(tab) {
      display: none;
    }

    @include mq(sp) {
      display: none;
    }
  }
}

.top-img {
  img {
    @include mq(pc) {
      display: none;
    }

    @include mq(tab) {
       display: block;
      width: 405px;
      height: 405px;
      margin: 0 auto;
    }

    @include mq(sp) {
      display: block;
      width: 305px;
      height: 305px;
    }
  }
}
/*================================
task
===============================*/
.task {
  padding: 100px 0;

    @include mq(tab) {
    padding: 60px 0 60px;
  }

  @include mq(sp) {
    padding: 80px 0 60px;
  }
}
.task-inner {
}
.task-top {
  font-size: 36px;
  font-weight: 700;
  line-height: 35.81px;
  text-align: center;
  color: rgba(159, 158, 193, 1);
  font-family: $font-en;

    @include mq(tab) {
    font-size: 28px;
  }
  @include mq(sp) {
    font-size: 22px;
  }
}
.task-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 5%;
  text-align: center;
  color: rgba(100, 98, 157, 1);
  margin-top: 18px;

    @include mq(tab) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 12px;
  }

  @include mq(sp) {
    font-size: 30px;
    line-height: 42px;
    margin-top: 12px;
  }
}
.task-text {
  margin-top: 29px;

  @include mq(sp) {
    font-size: 16px;
    line-height: 25.6px;
  }

  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 32.4px;
    text-align: center;
    color: rgba(45, 45, 50, 1);

      @include mq(sp) {
     font-size: 17px;
   }
  }
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  text-align: center;
  color: rgba(45, 45, 50, 1);

 
}
.task-footer {
  text-align: center;
}
.task-link {
  a {
    display: block;
    background: rgba(100, 98, 157, 1);
    color: #fff;
    width: 400px;
    height: 70px;
    line-height: 70px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;

    @include mq(sp) {
      width: 300px;
      height: 58px;
      line-height: 58px;
      font-size: 18px;
    }
  }
}

/*================================
feature
===============================*/
.feature {
  padding: 100px 0;
  background: rgba(249, 249, 249, 1);
  position: relative;
  z-index: 2;

  @include mq(sp) {
    padding: 60px 0 120px;
  }
}
.feature-inner {
}
.feature-head-lead {
  font-weight: 700;
  font-size: 36px;
  line-height: 35.81px;
  text-align: center;
  color: rgba(159, 158, 193, 1);
  font-family: $font-en;

    @include mq(tab) {
    font-size: 28px;
  }

  @include mq(sp) {
    font-size: 22px;
  }
}
.feature-head-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 48px;
  letter-spacing: 5%;
  text-align: center;
  color: rgba(100, 98, 157, 1);
  margin: 18px 0 102px;

  span {
    font-size: 60px;
    line-height: 48px;
    letter-spacing: 5%;

    @include mq(sp) {
      font-size: 38px;
      line-height: 42px;
    }
  }

    @include mq(tab) {
    font-size: 48px;
    line-height: 42px;
  }

  @include mq(sp) {
    font-size: 30px;
    line-height: 42px;
  }
}
.feature-wrapper {
  display: flex;

    @include mq(tab) {
    flex-direction: column-reverse;
  }
  @include mq(sp) {
    flex-direction: column-reverse;
  }
}
.feature-left {
  display: flex;
  position: relative;
  @include mq(sp) {
    flex-direction: column;
    padding: 0 20px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 742px;
    height: 366px;
    z-index: -1;
    margin-top: 154px;
    border-radius: 30px;

        @include mq(tab) {
      width: 100%;
      height: 413px;
      margin-top: -150px;
    }

    @include mq(sp) {
      width: 100%;
      height: 313px;
      margin-top: -80px;
    }
  }
}
.feature-left-number {
}
.feature-number {
  font-family: $font-en;
  font-weight: 700;
  font-size: 72px;
  line-height: 71.61px;
  color: rgba(100, 98, 157, 1);
  margin-right: 18px;
  margin-top: 221px;
  margin-left: 40px;

    @include mq(tab) {
    margin-top: 0px;
  }

  @include mq(sp) {
    margin-left: 0;
    font-size: 42px;
    line-height: 42px;
    margin-top: -10px;
  }
}
.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.13px;
  color: rgba(45, 45, 50, 1);
  margin-top: 211px;

    @include mq(tab) {
    margin-top: -10px;
  }

  @include mq(sp) {
    margin-top: 0;
    font-size: 21.5px;
    line-height: 31.86px;
  }
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  margin-top: 17px;
  margin-right: 29px;

  @include mq(sp) {
    margin-right: 0;
    margin-top: 8px;
    font-size: 15px;
    line-height: 22.4px;
  }
}
.feature-right {
  img {
    width: 520px;
    display: block;

        @include mq(tab) {
          margin: 0 auto;
        }

    @include mq(sp) {
      width: 280px;
      height: 280px;
      margin: -50px auto 0;
    }
  }
}

.feature-wrapper2 {
  display: flex;

    @include mq(tab) {
    flex-direction: column;
  }

  @include mq(sp) {
    flex-direction: column;
  }
}
.feature-left2 {
  img {
    width: 520px;
    display: block;
    margin-top: 178px;

    @include mq(tab) {
      margin: 100px auto 0;
    }

    @include mq(sp) {
      width: 280px;
      height: 280px;
      margin: 90px auto 0;
    }
  }
}
.feature-right2 {
  display: flex;
  position: relative;

  @include mq(sp) {
    flex-direction: column;
    padding: 0 20px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    background: #fff;
    width: 742px;
    height: 366px;
    z-index: -5;
    margin-top: 153px;
    border-radius: 30px;

    @include mq(tab) {
      margin-top: -150px;
      width: 100%;
      height: 413px;
      right: 0;
    }

    @include mq(sp) {
      margin-top: -80px;
      width: 100%;
      height: 313px;
      right: 0;
    }
  }
}
.feature-number2 {
  font-family: $font-en;
  font-weight: 700;
  font-size: 72px;
  line-height: 71.61px;
  color: rgba(100, 98, 157, 1);
  margin-right: 18px;
  margin-top: 228px;
  margin-left: -30px;

  @include mq(tab) {
    margin-top: 0;
    margin-left: 0;
    padding: 0 20px;
  }

  @include mq(sp) {
    margin-top: -10px;
    margin-left: -20px;
    font-size: 42px;
    line-height: 42px;
  }
}
.feature-title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.13px;
  color: rgba(45, 45, 50, 1);
  margin-top: 218px;

  @include mq(tab) {
    margin-top: -10px;
  }

  @include mq(sp) {
    margin-top: 0;
    font-size: 21.5px;
    line-height: 31.86px;
  }
}
.feature-text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  margin-top: 17px;
  margin-right: 29px;

  @include mq(sp) {
    font-size: 14.5px;
    line-height: 22.4px;
    margin-top: 8px;
    margin-right: 0;
  }
}

.feature-wrapper3 {
  display: flex;
  margin-top: 50px;

  @include mq(tab) {
   flex-direction: column-reverse;
  }
  @include mq(sp) {
    flex-direction: column-reverse;
  }
}
.feature-left3 {
  display: flex;
  position: relative;
  @include mq(sp) {
    flex-direction: column;
    padding: 0 20px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 742px;
    height: 366px;
    z-index: -1;
    border-radius: 30px;
    margin-top: 85px;

     @include mq(tab) {
            width: 100%;
      margin-top: -150px;
      height: 313px;

     }

    @include mq(sp) {
      width: 100%;
      margin-top: -90px;
      height: 333px;
    }
  }
}
.feature-number3 {
  font-family: $font-en;
  font-weight: 700;
  font-size: 72px;
  line-height: 71.61px;
  color: rgba(100, 98, 157, 1);
  margin-right: 18px;
  margin-top: 160px;
  margin-left: 40px;

    @include mq(tab) {
    margin-right: 18px;
  margin-top: 0px;
  margin-left: 40px;
  }

  @include mq(sp) {
    margin-top: -30px;
    font-size: 42px;
    line-height: 42px;
    margin-left: 0px;
  }
}
.feature-title3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.13px;
  color: rgba(45, 45, 50, 1);
  margin-top: 150px;

    @include mq(tab) {
    margin-top: -10px;
  }

  @include mq(sp) {
    margin-top: 0;
    font-size: 21.5px;
    line-height: 34.75px;
  }
}
.feature-text3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  margin-top: 17px;
  margin-right: 29px;

  @include mq(sp) {
    margin-top: 8px;
    margin-right: 0;
    font-size: 14.5px;
    line-height: 22.4px;
  }
}
.feature-right3 {
  img {
    width: 520px;
    display: block;
    margin-top: -100px;

        @include mq(tab) {
      margin: 80px auto 0;

    }

    @include mq(sp) {
      width: 280px;
      height: 280px;
      margin: 80px auto 0;
    }
  }
}

/*================================
trial
===============================*/
.trial {
  background: rgba(45, 45, 50, 1);
  padding: 60px 0;

  @include mq(sp) {
    padding: 40px 0;
  }
}
.trial-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.13px;
  letter-spacing: 2%;
  text-align: center;
  color: #fff;

    @include mq(tab) {
    font-size: 28px;
    line-height: 40px;
  }

  @include mq(sp) {
    font-size: 18px;
    line-height: 28.8px;
  }
}
.trial-footer {
}
.trial-button {
  a {
    font-size: 24px;
    letter-spacing: 2%;
    display: block;
    text-align: center;
    width: 400px;
    height: 70px;
    line-height: 70px;
    border-radius: 50px;
    color: #fff;
    background: rgba(100, 98, 157, 1);
    margin: 32px auto 0;

    @include mq(sp) {
      width: 300px;
      height: 58px;
      line-height: 58px;
      font-size: 18px;
    }
  }
}

/*================================
user
===============================*/
.user {
  padding: 100px 40px;

  @include mq(sp) {
    padding: 60px 0;
  }
}
.user-top {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: rgba(159, 158, 193, 1);
  font-family: $font-en;

    @include mq(tab) {
    font-size: 28px;
  }

  @include mq(sp) {
    font-size: 22px;
  }
}
.user-title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 5%;
  text-align: center;
  margin-top: 18px;
  color: rgba(100, 98, 157, 1);

    @include mq(sp) {
    font-size: 36px;
    margin-top: 12px;
  }

  @include mq(sp) {
    font-size: 30px;
    margin-top: 12px;
  }
}
.user-wrapper {
}
.user-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq(sp) {
    margin-top: 24px;
  }

  img {
    width: 25%;
  }
}

/*================================
flow
===============================*/
.flow {
  padding: 100px  60px 80px;
  background: rgba(249, 249, 249, 1);


  @include mq(sp) {
    padding: 60px 0;
  }
}
.flow-top {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: rgba(159, 158, 193, 1);
  font-family: $font-en;

   @include mq(tab) {
    font-size: 28px;
  }

  @include mq(sp) {
    font-size: 22px;
  }
}
.flow-title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 5%;
  text-align: center;
  margin-top: 18px;
  color: rgba(100, 98, 157, 1);

    @include mq(tab) {
    font-size: 36px;
  }

  @include mq(sp) {
    font-size: 30px;
  }
}
.flow-wrapper {
  display: flex;
  justify-content: space-between;

  @include mq(tab) {
    flex-direction: column;
  }

  @include mq(sp) {
    flex-direction: column;
  }
}
.flow-item {
  margin: 55px auto 0;
  width: 25%;
  position: relative;

  @include mq(tab) {
    width: 100%;
  }
    @include mq(sp) {
    width: 100%;
    margin: 85px auto 0;
  }

  &:nth-child(1) {
    &::before {
      content: "01";
      position: absolute;
      left: -14px;
      top: -30px;
      font-size: 48px;
      font-weight: bold;
      font-family: $font-en;
      color: rgba(100, 98, 157, 1);

      @include mq(sp) {
        left: 0;
        top:-40px;
      }
    }
  }

  &:nth-child(2) {
    &::before {
      content: "02";
      position: absolute;
      left: -14px;
      top: -30px;
      font-size: 48px;
      font-weight: bold;
      font-family: $font-en;
      color: rgba(100, 98, 157, 1);

      @include mq(sp) {
        left: 0;
         top:-40px;
      }
    }
  }

  &:nth-child(3) {
    &::before {
      content: "03";
      position: absolute;
      left: -14px;
      top: -30px;
      font-size: 48px;
      font-weight: bold;
      font-family: $font-en;
      color: rgba(100, 98, 157, 1);

      @include mq(sp) {
        left: 0;
         top:-40px;
      }
    }
  }
  &:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 60px;
      right: -65px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 32px 0 32px 32px;
      border-color: transparent transparent transparent rgba(196, 196, 196, 1);

      @include mq(tab) {
        display: none;
      }
      @include mq(sp) {
        display: none;
      }
    }
  }

  img {
    width: 100%;
    height: 191px;
    padding: 25px 44px;
    background: rgba(237, 236, 252, 1);
    border-radius: 30px;

    @include mq(tab) {
      width: 100%;
      height: 100%;
    }

    @include mq(sp) {
      width: 100%;
      padding: 22px 60px;
    }
  }
}
.flow-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34.75px;
  text-align: center;
  margin-top: 16px;
  color: rgba(45, 45, 50, 1);
  position: relative;

  @include mq(sp) {
    font-size: 20px;
    margin-top: 16px;
  }
}

.flow-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  margin-top: 8px;
  color: rgba(45, 45, 50, 1);

  @include mq(sp) {
    text-align: left;
  }
}
/*================================
price
===============================*/
.price {
  padding: 100px 0 115px;
}
.price-top {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: rgba(159, 158, 193, 1);
  font-family: $font-en;

  @include mq(sp) {
    font-size: 22px;
  }
}
.price-title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 5%;
  text-align: center;
  margin-top: 18px;
  color: rgba(100, 98, 157, 1);

  @include mq(sp) {
    font-size: 30px;
  }
}
// price
.price__table {
  margin-top: 80px;

  @include mq("sp") {
    margin-top: 72px;
    overflow-x: scroll;
    max-width: 727px;
  }
}

.table {
  border-collapse: collapse; //ボーダーが二重になるのを防ぐ
  max-width: 1020px;
  width: 100%; //table幅を均等にする
  table-layout: fixed; //table幅を均等にする
  margin: auto;

  @include mq("sp") {
    white-space: nowrap;
    min-width: 727px;
    -webkit-overflow-scrolling: touch; //スマホスクロールをなめらかに表示する
  }
}

.th__table {
  background: rgba(45, 45, 50, 1);

  color: #fff;
  text-align: center;
  padding: 28px 7px 30px;
  width: 260px;
  height: 270px;

  @include mq("tab") {
    width: auto;
    height: 200px;
  }

  @include mq("sp") {
    width: 180px;
    height: 200px;
  }

  &:nth-child(3n) {
    background: rgba(100, 98, 157, 1);
    position: relative;
  }
}

.th__table_inner {
  content: "";
  position: absolute;
  display: block;
  background: rgba(100, 98, 157, 1);
  bottom: 0;
  left: 0;
  padding: 62px 0 56px;
  width: 100%;
  box-shadow: 0 -4px 15px -4px rgba(0, 0, 0, 0.6);

  @include mq("tab") {
    padding: 55px 0 30px;
  }

  @include mq("sp") {
    padding: 55px 0 34px;
  }
}

.th__title {
  font-size: 24px;
  font-weight: 700;

  @include mq("sp") {
    font-size: 20px;
  }
}

.th__price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 17px;
  letter-spacing: 1.4px;

  @include mq("tab") {
    font-size: 14px;
    margin-top: 14px;
  }

  @include mq("sp") {
    font-size: 11px;
    margin-top: 11px;
  }

  span {
    font-size: 36px;

    @include mq("tab") {
      font-size: 30px;
    }

    @include mq("sp") {
      font-size: 30px;
    }
  }
}

.th__button {
  display: block;
  margin: 28px auto 0;
  max-width: 234px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  background: #fff;
  border: 2px solid #fff;
  color: rgba(45, 45, 50, 1);
  border-radius: 50px;
  padding: 10px;
  transition: all 0.3s ease 0s;

  @include mq("tab") {
    margin: 24px auto 0;
    max-width: 166px;
    width: 100%;
    font-size: 16px;
    border-radius: 35px;
    padding: 10px;
  }

  @include mq("sp") {
    margin: 19px auto 0;
    max-width: 166px;
    width: 100%;
    font-size: 16px;
    border-radius: 21px;
    padding: 5px;
  }

  &:hover {
    background: rgba(45, 45, 50, 1);
    color: #fff;
  }
}

.th__button_color {
  background: transparent;
  color: #fff;

  &:hover {
    background: #fff;
    color: rgba(100, 98, 157, 1);
  }
}

.table__body {
  table-layout: fixed; //table幅を均等にする

  tr {
    &:nth-child(odd) {
      background: #edecfc;
    }
  }

  th {
    padding: 14px 5px 14px 32px;
    text-align: left;
    font-size: 22px;
    font-weight: 400;

    @include mq("tab") {
      padding: 12px 5px 10px 20px;
      font-size: 18px;
    }

    @include mq("sp") {
      padding: 10px 5px 9px 17px;
      font-size: 15px;
    }
  }

  td {
    padding: 12px 5px;
    text-align: center;
    font-size: 22px;
    vertical-align: middle; //セルの中身を上下中央に配置する

    @include mq("tab") {
      font-size: 18px;
    }

    @include mq("sp") {
      font-size: 14px;
    }

    &:nth-child(3) {
      font-size: 24px;
      font-weight: 700;

      @include mq("tab") {
        font-size: 20px;
      }

      @include mq("sp") {
        font-size: 20px;
      }
    }
  }
}

.table__foot {
  tr {
    padding: 17px 0;
  }

  td {
    padding: 17px 0;
  }
}

.td__button {
  display: block;
  margin: auto;
  max-width: 234px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid rgba(45, 45, 50, 1);
  border-radius: 50px;
  transition: all 0.3s ease 0s;

  @include mq("tab") {
    max-width: 166px;
    width: 100%;
    font-size: 16px;
    border-radius: 35px;
    padding: 10px;
  }

  @include mq("sp") {
    max-width: 166px;
    width: 100%;
    font-size: 16px;
    border-radius: 21px;
    padding: 5px;
  }

  &:hover {
    background: rgba(45, 45, 50, 1);
    color: #fff;
  }
}

.td__button_color {
  background: rgba(100, 98, 157, 1);

  border: 2px solid rgba(100, 98, 157, 1);
  color: #fff;

  &:hover {
    background: #fff;
    color: rgba(100, 98, 157, 1);
  }
}
/*================================
question
===============================*/
.question {
  padding: 100px 0;
  background: rgba(249, 249, 249, 1);

  @include mq(sp) {
    padding: 60px 0;
  }
}
.question-top {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: rgba(159, 158, 193, 1);
  font-family: $font-en;

  @include mq(tab) {
    font-size: 28px;
  }

  @include mq(sp) {
    font-size: 22px;
  }
}
.question-title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 5%;
  text-align: center;
  margin: 18px 0 60px;
  color: rgba(100, 98, 157, 1);

  @include mq(tab) {
    font-size: 36px;
  }

  @include mq(sp) {
    font-size: 30px;
  }
}
.question-items {
  width: 920px;
  margin: 0 auto;

   @include mq(tab) {
    width: 100%;
  }

  @include mq(sp) {
    width: 100%;
  }
}
.question-item {
  display: flex;
  padding: 22px 24px;
  background: rgba(100, 98, 157, 1);
  border-radius: 10px;
  margin-top: 14px;
  

  &:not(:first-child) {
    margin-top: 14px;
  }

  @include mq(tab) {}

  @include mq(sp) {
    padding: 8px 10px;
  }

}
.question-item-q {
  width: 17px;
  height: 22px;
  font-weight: 700;
  color: #fff;
  margin-right: 15px;
}
.question-item-q2 {
  font-weight: 700;
  font-size: 18px;
  color: #fff;

  @include mq(sp) {
    font-size: 16px;
  }
}
.question-item2 {
  display: flex;
  background: #fff;
  padding: 22px 24px;
  border-radius: 10px;
  margin-top: 14px;

    @include mq(tab) {
    margin-bottom: 20px;
  }

  @include mq(sp) {
    padding: 12px 16px;
    margin-top: 14px;
    margin-bottom: 20px;
  }
}
.question-item-a {
  width: 15px;
  height: 22px;
  font-weight: 700;
  margin-top: 5px;
  margin-right: 16px;
}
.question-item-a2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;

  @include mq(sp) {
    font-size: 16px;
  }
}
/*================================
footer
===============================*/
footer {
  padding: 27px 0;
  background: rgba(0, 0, 0, 1);

  @include mq(sp) {
    padding: 40px 0;
  }
}
.footer-wrapper {
  display: flex;
  @include mq(sp) {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.footer-left {
}
.footer-logo {
  font-family: $font-en;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 3%;
  color: #fff;

  @include mq(sp) {
    margin-top: 32px;
  }
}
.footer-list {
  display: flex;

  @include mq(sp) {
    flex-direction: column;
  }
  li {
    margin-top: 19px;
    &:not(:first-child) {
      margin-left: 14px;
    }
    a {
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 3%;
      color: #fff;
    }
  }
}
.footer-bottom {
  display: flex;

  @include mq(sp) {
    flex-direction: column;
  }
  color: #fff;
  li {
    margin-top: 19px;

    &:not(:first-child) {
      margin-left: 14px;
    }

    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 3%;
  }
}
.footer-right {
  margin-left: auto;
  margin-top: 20px;

  @include mq(sp) {
    margin: 0 auto;
  }
}
.footer-right-title {
  font-family: $font-en;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.footer-sns {
  display: flex;

  @include mq(sp) {
    margin-top: 14px;
  }
  li {
    font-size: 28px;
    color: #fff;

    &:not(:first-child) {
      margin-left: 18px;
    }
  }
}
