@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
/*================================
mixin
===============================*/
/*================================
font
===============================*/
/*================================
color
===============================*/
/*================================
common - 共通スタイル
===============================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .is-sp {
    display: none;
  }
}

/*================================
base
===============================*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: #fff;
  color: #2D2D32;
}

img {
  width: 100%;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.inner {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 133px 0 120px;
}

/*================================
section
===============================*/
/*================================
header
===============================*/
header {
  background: #fff;
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

@media screen and (max-width: 1439px) {
  header {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 60px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header-title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 5%;
  color: #64629D;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav li:not(:first-child) {
  margin-left: 16px;
}

.util-link a {
  display: block;
  background: #64629D;
  color: #fff;
  width: 180px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  text-align: center;
}

/*================================
drawer
===============================*/
.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 20;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon-bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon-bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon-bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon-bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
  position: absolute;
  width: 22px;
  height: 3px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon-bar1 {
  top: 0;
}

.drawer-icon-bar2 {
  top: 8px;
}

.drawer-icon-bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 18;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content-item {
  border-bottom: 1px dotted #707070;
}

.drawer-content-item a {
  display: block;
  color: #707070;
  font-size: 16px;
  padding: 20px;
  position: relative;
}

.drawer-content-item a::after {
  content: "";
  width: 5px;
  height: 8px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 21px;
  background: url(../img/arrow-booo.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 16;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

/*================================
top
===============================*/
.top {
  margin-top: 72px;
  background: #EDECFC;
  height: 580px;
}

.top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 86.88px;
  margin-top: 117px;
}

.top-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  margin-top: 24px;
}

.top-footer {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-util-link-left a {
  display: block;
  background: #64629D;
  color: #fff;
  width: 250px;
  height: 54px;
  line-height: 54px;
  border-radius: 27px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  font-size: 18px;
  font-weight: 700;
}

.top-util-link-right {
  margin-left: 37px;
}

.top-util-link-right a {
  display: block;
  background: #64629D;
  color: #fff;
  width: 250px;
  height: 54px;
  line-height: 54px;
  border-radius: 27px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  font-size: 18px;
  font-weight: 700;
}

.top-right img {
  display: block;
  width: 515px;
  padding: 33px 0;
}

/*================================
task
===============================*/
.task {
  padding: 100px 0;
}

.task-top {
  font-size: 36px;
  font-weight: 700;
  line-height: 35.81px;
  text-align: center;
  color: #9f9ec1;
  font-family: "Lato", sans-serif;
}

.task-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 5%;
  text-align: center;
  color: #64629d;
  margin-top: 18px;
}

.task-text {
  margin-top: 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  text-align: center;
  color: #2d2d32;
}

.task-text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 32.4px;
  text-align: center;
  color: #2d2d32;
}

.task-footer {
  text-align: center;
}

.task-link a {
  display: block;
  background: #64629d;
  color: #fff;
  width: 400px;
  height: 70px;
  line-height: 70px;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}

/*================================
feature
===============================*/
.feature {
  padding: 100px 0;
  background: #f9f9f9;
  position: relative;
  z-index: 2;
}

.feature-head-lead {
  font-weight: 700;
  font-size: 36px;
  line-height: 35.81px;
  text-align: center;
  color: #9f9ec1;
  font-family: "Lato", sans-serif;
}

.feature-head-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 48px;
  letter-spacing: 5%;
  text-align: center;
  color: #64629d;
  margin: 18px 0 102px;
}

.feature-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.feature-left::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 742px;
  height: 366px;
  z-index: -1;
  margin-top: 154px;
  border-radius: 30px;
}

.feature-number {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 71.61px;
  color: #64629d;
  margin-right: 18px;
  margin-top: 221px;
  margin-left: 40px;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.13px;
  color: #2d2d32;
  margin-top: 211px;
}

.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  margin-top: 17px;
  margin-right: 29px;
}

.feature-right img {
  width: 520px;
  display: block;
}

.feature-wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-left2 img {
  width: 520px;
  display: block;
  margin-top: 178px;
}

.feature-right2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.feature-right2::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  background: #fff;
  width: 742px;
  height: 366px;
  z-index: -5;
  margin-top: 153px;
  border-radius: 30px;
}

.feature-number2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 71.61px;
  color: #64629d;
  margin-right: 18px;
  margin-top: 228px;
  margin-left: -30px;
}

.feature-title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.13px;
  color: #2d2d32;
  margin-top: 218px;
}

.feature-text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  margin-top: 17px;
  margin-right: 29px;
}

.feature-wrapper3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-left3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.feature-left3::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 742px;
  height: 366px;
  z-index: -1;
  border-radius: 30px;
  margin-top: 85px;
}

.feature-number3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 71.61px;
  color: #64629d;
  margin-right: 18px;
  margin-top: 160px;
  margin-left: 40px;
}

.feature-title3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.13px;
  color: #2d2d32;
  margin-top: 150px;
}

.feature-text3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  margin-top: 17px;
  margin-right: 29px;
}

.feature-right3 img {
  width: 520px;
  display: block;
  margin-top: -100px;
}

/*================================
trial
===============================*/
.trial {
  background: #2d2d32;
  padding: 60px 0;
}

.trial-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.13px;
  letter-spacing: 2%;
  text-align: center;
  color: #fff;
}

.trial-button a {
  font-size: 24px;
  letter-spacing: 2%;
  display: block;
  text-align: center;
  width: 400px;
  height: 70px;
  line-height: 70px;
  border-radius: 50px;
  color: #fff;
  background: #64629d;
  margin: 32px auto 0;
}

/*================================
user
===============================*/
.user {
  padding: 100px 0;
}

.user-top {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #9f9ec1;
  font-family: "Lato", sans-serif;
}

.user-title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 5%;
  text-align: center;
  margin-top: 18px;
  color: #64629d;
}

.user-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-list img {
  width: 25%;
}
/*# sourceMappingURL=style.css.map */